.bgheight{
    height: 50vh;
}
.Logout{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}
.Logout a{
    padding: 25px;
    border: 1px solid black;
    border-radius: 9px;
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    font-weight: 600;
    transition: all 0.5s;
}
.Logout a:hover{
    padding: 25px;
    border: 1px solid black;
    color: white;
    background: #000;
    cursor: pointer;
    border-radius: 9px;
    transition: all 0.5s;
}